// Compass imports
@import "compass/reset";
@import "compass/css3";

// reCAPTCHA container
.recaptcha_widget {
	@include box-sizing('border-box');
	max-width: 300px;
	border: 4px solid #AF1500;
	@include border-radius(4px);
	background: #AF1500;
	margin: 0 0 10px;
}

// Showing an image...
#recaptcha_image {
	width: 100% !important;
	height: auto !important;

	img {
		@include box-sizing('border-box');
		width: 100%;
		height: auto;
		@include border-radius(2px);
		border: 3px solid #FFF;
	}
}

// Showing audio...
.recaptcha_is_showing_audio {
	embed {
		height: 0;
		width: 0;
		overflow: hidden;
	}

	#recaptcha_image {
		@include box-sizing('border-box');
		width: 100%;
		height: 60px;
		background: #FFF;
		@include border-radius(2px);
		border: 3px solid #FFF;

		br {
			display: none;
		}

		#recaptcha_audio_download {
			display: block;
		}
	}
}

// Input area container
.recaptcha_input {
	background: #FFDC73;
	color: #000;
	font: 13px/1.5 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	margin: 4px 0 0;
	padding: 0 4px 4px;
	border: 4px solid #FFDC73;
	@include border-radius(2px);

	label {
		margin: 0 0 6px;
		@include box-sizing('border-box');
	}

	input {
		width: 100%;
	}
}

// Icon options
.recaptcha_options {
	list-style: none;
	margin: 4px 0 0;
	height: 18px;

	li {
		float: left;
		margin: 0 4px 0 0;

		a {
			text-decoration: none;
			@include text-shadow(0 1px 1px #000);
			font-size: 16px;
			color: #FFF;
			display: block;
			width: 20px;
			height: 18px;

			&:active {
				position: relative;
				top: 1px;
				@include text-shadow(none);
			}
		}
	}
}

// Hide icon labels
.captcha_hide {
	display: none;
}